body {
    background-color: green;
}

h1 {
    text-align: center;
    color: rgb(20, 20, 53);
}

.card {
    background-color: whitesmoke;
    text-align: center;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 300px;
    border-radius: 10px;
}

#number {
    font-size: 90px;
    padding-top: 1px;
}

#suite {
    margin-right: 130px;
    font-size: 80px;

}

#suite_2 {
    margin-left: 130px;
    margin-top: 15px;
    font-size: 80px;
}