body {
    background-color:green;
}

.card {
    background-color: whitesmoke;
    text-align: center;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 300px;
    border-radius: 3px;
}

#number {
   font-size: 60px;
   padding-top: 20px;
}

#suite {
    margin-right: 120px;
    font-size: 80px;
    
 }

 #suite_2 {
    margin-left: 110px;
    margin-top: 30px;
    font-size: 80px;
 }


